.tooltip {
  background-color: #000;
  color: white;
  font-size: 12px;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 6px 9px;
  opacity: 0;
  position: absolute;
  bottom: -12px;
  left: -20%;
  white-space: nowrap;
  transition: 0.1s;
}

button:hover .tooltip {
  display: block;
  opacity: 1;
}
