.button {
  width: 64px;
  height: 64px;
  border: none;
  border-radius: 64px;
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease-in-out 0s;
  opacity: 1;
  cursor: pointer;
  position: absolute;
  /* box-shadow: 0px 2px 2px #888888; */
}

.button:hover {
  transform: scale(1.05);
  transition: transform 0.1s ease-in-out 0s;
}

.button:active {
  transform: scale(0.9);
  transition: transform 0.1s;
}

.button:focus {
  outline: none;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fadingImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* center the image */
  transition: opacity 0.1s ease-in-out;
  width: 100%; /* ensure the image takes the full width */
  height: 100%; /* ensure the image takes the full height */
}

.hiddenImage {
  opacity: 0;
}

.unreadDot {
  width: 16px;
  height: 16px;
  border-radius: 12px;
  background-color: orange;
  border: 3px solid white;
  position: absolute;
  top: 0px;
  right: 0px;
}

.popupWidget {
  display: flex;
  flex-direction: row;
  gap: 2px;
  padding: 6px 12px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 6px;
  border-radius: 8px;
  font-size: 12px;
  position: absolute;
  right: 72px;
  bottom: 20px;
  white-space: nowrap;
  background-color: white;
}
