.messageRatingButton {
  background-color: rgb(246, 246, 247);
  color: rgb(56, 56, 56);
  border: none;
  cursor: pointer;
  padding-top: 6px;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  gap: 6px;
  align-items: center;
  padding-bottom: 6px;
  border-radius: 4px;
}
