.footer {
  font-size: 12px;
  color: #333;
  padding-top: 4px;
  padding-bottom: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f7;
}

.footerContent {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}
