.chat {
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
  opacity: 1;
  transition: all 0.25s ease-in-out 0s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.chatDesktop {
  max-width: calc(100vw - 40px);
  max-height: calc(100vh - 112px);
  border-radius: 16px;
}

.chatDesktopNormal {
  width: 450px;
  height: 650px;
}

.chatDesktopExpanded {
  width: calc(100vw - 40px);
  height: calc(100vh - 112px);
}

.chatMobile {
  width: 100vw;
  height: 100vh;
  height: 100%;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 12px 8px;
  box-sizing: border-box;
  overflow: scroll;
  background-color: #f6f6f7;
  gap: 8px;
}

.content::-webkit-scrollbar {
  display: none;
}
