.compose {
  width: 100%;
  height: 70px;
  min-height: 70px;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

.input {
  width: 100%;
  box-sizing: border-box;
  padding: 12px 20px;
  border: none;
  outline: none;
  color: #333;
  background-color: rgb(246, 246, 247);
  border-radius: 50px;
  font-size: 14px;
  gap: 8px;
}

.input::placeholder {
  color: #5b5b5b;
}
